<!DOCTYPE html>
    <html>
        <head>
            <title>NParkBuddy Server</title>
            <link rel="stylesheet" type="text/css" href="/static/styles.css">
        </head>
        <body>
            <div id="header">
                <img src="/static/favicon.ico" alt="NParkBuddy Logo">
                <div id="title-container">
                    <h1>NParkBuddy Server</h1>
                </div>
            </div>
            <div id="content">
            <p>Welcome to the NParkBuddy server!</p>
            <p>Code for the NParkBuddy server can be found <a href="https://github.com/NParkBuddies/testing" target="_blank">here</a>.</p>
            <p>Endpoints for the NParkBuddy server are as follows:</p>
            </div>
            <table>
                <caption>Endpoints Summary</caption>
                <tr>
                    <th>Method</th>
                    <th>Endpoint</th>
                    <th>Description</th>
                    <th>Example</th>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href='/' target='_blank'>/</a></td>
                    <td>Root endpoint</td>
                    <td></td>
                </tr>
                    <td>POST</td>
                    <td>/profiles/create</td>
                    <td>Creates a new user account>
                    <td></td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>/profiles/login</td>
                    <td>Logs in a user</td>
                    <td></td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>/profiles/&lt;username&gt;/change_password</td>
                    <td>Changes a user's password</td>
                    <td></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href='/parks' target='_blank'>/parks</a></td>
                    <td>Gets all parks</td>
                    <td></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>/parks/&lt;park_name&gt;</td>
                    <td>Gets a park by name</td>
                    <td>Example:<a href='/parks/East_Coast_Park' target='_blank'>/parks/East_Coast_Park</a></td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>/bookings</td>
                    <td>Creates a booking</td>
                    <td></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>/timeslots/&lt;park_name&gt;/&lt;facility_name&gt;/&lt;date&gt;</td>
                    <td>Gets available timeslots</td>
                    <td>Example:<a href='/timeslots/East_Coast_Park/BBQ_Pit_47/23-May-2025' target='_blank'>/timeslots/East_Coast_Park/BBQ_Pit_47/23-May-2025</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href='/weather' target='_blank'>/weather</a></td>
                    <td>Gets weather warning</td>
                    <td></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>/profiles/&lt;username&gt;/bookings</td>
                    <td>Gets all bookings by profile</td>
                    <td>Example:<a href='/profiles/nparkadmin/bookings' target='_blank'>/profiles/nparkadmin/bookings</a></td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>/bookings/cancel</td>
                    <td>Cancels a booking</td>
                    <td></td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>/reviews</td>
                    <td>Reviews a booking</td>
                    <td></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href='/facilities' target='_blank'>/facilities</a></td>
                    <td>Gets all facilities</td>
                    <td></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>/facilities/filter</td>
                    <td>Filters facilities</td>
                    <td>Example:<a href='/facilities/filter?type=BBQ_pit' target='_blank'>/facilities/filter?type=BBQ_pit</a></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>/reviews/&lt;park_name&gt;/&lt;facility_name&gt;</td>
                    <td>Views reviews</td>
                    <td>Example:<a href='/reviews/East_Coast_Park/BBQ_Pit_47' target='_blank'>/reviews/East_Coast_Park/BBQ_Pit_47</a></td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>/profiles/&lt;username&gt;/change_username</td>
                    <td>Changes a user's username</td>
                    <td></td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>/profiles/&lt;username&gt;/change_email</td>
                    <td>Changes a user's email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td><a href='/log-viewer', target='_blank'>/log-viewer</a></td>
                    <td>View server logs</td>
                    <td></td>
                </tr>
        </body>
    </html>